/*	options.css
	================================================ */

	body, html {
		margin: 0;
		padding: 0;
	}

	:root>body {
		font-family: sans-serif;
		font-size: 120%;
		font-family: sans-serif;
		--hover-background: #d8d8d8;
	}

/*	Form
	================================================ */

	body>form {
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	label {
		background-color: transparent;
		transition: background-color 125ms;
		padding: .25em .75em;
	}
	label:hover {
		background-color: var(--hover-background);
	}

	
/*	Enabled
	================================================ */

	input#fix-width-enabled {
		-moz-appearance: none;
		border: 2px solid #333;
		width: 1.5em;
		height: 1.5em;
		background-color: #eee;
		padding: 2px;
		transition: background-color 125ms;
	}
	input#fix-width-enabled:checked {
		background-color: #333;
		background-clip: content-box;
		border-color: #333;
	}
	input#fix-width-enabled {
		-moz-appearance: none;
		border: 2px solid #999;
		width: 1.5em;
		height: 1.5em;
		background-color: #eee;
		padding: 2px;
		transition: background-color 125ms;
	}
	label[for="fix-width-enabled"] {
		position: relative;
		top: -6px;
		left: 6px;
	}

/*	max-width
	================================================ */

	div#div-max-width {
		display: flex;
		flex-direction: row;
		border-top: thin solid #999;
		padding-top: .5em;
	}
	div#div-max-width label {

	}
	div#div-max-width input#max-width {
		width: 4em;
		margin-left: 1em;
		text-align: right;
		padding: 0em .25em;
		-moz-appearance:textfield;
	}

/*	Buttons
	================================================ */

	div#div-buttons {
		display: grid;
		grid-template-columns: 1fr
		column-gap: 8px;
		margin-top: .5em;
		border-top: thin solid #666;
		padding-top: .5em;
	}

	div#div-buttons>button {
		flex: 1;
		border: thin solid #999;
		border: none;
		color: #333;
		background-color: transparent;
		padding: .5em .75em;
		transition: background-color 125ms;
		font-weight: bold;
		font-size: 1em;
	}
	div#div-buttons>button:hover {
		background-color: var(--hover-background);
	}

